// colors

$bg-color-light-grey: #f3f3f3;
$bg-color-dark-grey: #e2e2e2;

$chart-text1: #a1a0a0;
$chart-text2: #b8b8b8;
$chart-text3: #3b3b3b;

$chart-color1: white;
$chart-color2: #ffd222;
$chart-color3: #77e5b3;
$chart-color4: #23d683;
$chart-color5: #ff5353;
